body {
  color: white;
  text-align: center;
  background-image: url("images/space.jpg");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
}

.choiceHero, .choiceVillain {
  background-color: #003B6F;
  height: 100px;
  width: 100px;
  margin: 100px;
  -webkit-border-radius:50%;
  padding: 20px;
  cursor: pointer;
}

.choiceHero:hover, .choiceVillain:hover {
  background-color: lightsteelblue;
}

#graphic img {
  width: 275px;
  height: 175px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  align-content: center;
}

.submitAnswer {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 100px;
  -webkit-border-radius:50%;
  padding: 20px;
  cursor: pointer;
}

.submitAnswer:hover {
  background-color: darkgray;
}

.questionBox {
  background-color: #003B6F;
  width: 500px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

#questionBox, #answerBox {
  margin-top: 20px;
}

ul.answers {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
}

label, input, .openOverlay {
  cursor: pointer;
}

.tardis {
  padding-right: 300px;
  margin-right: 200px;
  opacity: 0;
}


