body {
  color: white;
  background-color: #003B6F;
  text-align: center;
}

/*h1, h2, a {
  font//NEED TO FIGURE THIS OUT
}*/


.choice {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 100px;
  -webkit-border-radius:50%;
  padding: 20px;
  cursor: pointer;
}

.graphic {
  background-image: url('../images/River_Looks_Left.jpg');
}

/*.riverSong, .kNine {
  padding-top: 30px;
  border-color: ghostwhite;
  border-width: 5em;
}*/

ul {
  list-style-type: none;
  cursor: pointer;
}

label, input {
  cursor: pointer;
}

.tardis {
  padding-right: 300px;
  margin-right: 200px;
  opacity: 0.2;
}

#questionBox, #answerBox {
  margin-top: 20px;
}
